.containter {
    height: 100px;
    width: 100px; 
    background-color: aqua;
    background-image: url(IMG_1341.png);
}

.navbar {
    background-color: white;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    padding-top: 10px;
}

li a {
    display: block;
    color: darkgreen;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.row {
    display: block;
    margin-left: 25px;
    margin-right: 20px;
}

.text {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

iframe {
    display: block;
    width: 90%;
    height: 1000px;
    padding-left: 75px;
    border: none; 
}